<!DOCTYPE html>
<html>
<head>
	<title>Startseite - Universität Auditorium</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
	<header>
		<div class="container">
			<nav>
				<ul>
					<li><a href="{{ url_for('de_index') }}">Startseite</a></li>
					<li><a href="{{ url_for('de_classes') }}">Klassen</a></li>
					<li><a href="{{ url_for('de_contact') }}">Kontakt</a></li>
          <li class = "language">
            <a>
              <span class="material-symbols-outlined">
                language
              </span>
            </a>
            <form method="post" class="lg-change" action="{{ url_for('set_locale') }}">
              <select name="locale">
                <option value="de">Deustch</option>
                <option value="en">English</option>
                <option value="cn">中文</option>
                <option value="ru">Русский</option>
              </select>
              <input type="submit" value="Save">
            </form>
          </li>
				</ul>
			</nav>
		</div>
	</header>

	<main>
		<div class="container">
			<h1>Willkommen bei "Auditorium Classroom"</h1>
      <p>Das ist die optimale Plattform für Online-Lernen! Unsere Website bietet eine breite Palette von Kursen zu einer Vielzahl von Themen, die von hochqualifizierten Fachleuten mit umfassender Branchenerfahrung unterrichtet werden. Ganz gleich, ob Sie neue Fähigkeiten entwickeln, Ihr Wissen auffrischen oder Ihre Karriere vorantreiben möchten, wir haben einen Kurs, der Ihren Bedürfnissen entspricht.</p>
      <p>Unsere benutzerfreundliche Oberfläche macht es Ihnen leicht, auf Kurse zuzugreifen und in Ihrem eigenen Tempo zu lernen. Sie können Ihren Lernfortschritt verfolgen und sich an Quiz und Diskussionen mit anderen Kursteilnehmern beteiligen. Unsere hochmoderne Technologie liefert nahtlos hochwertige Video- und Audioinhalte, so dass das Lernen Spaß macht und fesselt.</p>
      <p>Wir von "Auditorium Classroom" sind der Meinung, dass Lernen für jeden zugänglich sein sollte, unabhängig von seinem geografischen Standort oder Hintergrund. Deshalb sind unsere Kurse rund um die Uhr online verfügbar, damit Sie jederzeit und überall lernen können.</p>
      <p>Schließen Sie sich noch heute unserer Gemeinschaft von Lernenden an und schöpfen Sie Ihr Potenzial aus! Stöbern Sie in unserem Kurskatalog, um einen Kurs zu finden, der Sie interessiert, und machen Sie den ersten Schritt, um Ihre Ziele zu erreichen. Mit "Auditorium Classroom" sind dem Himmel keine Grenzen gesetzt!</p>
		</div>
	</main>

	<footer>
		<div class="container">
			<p>&copy; 2023 BSU</p>
		</div>
	</footer>
</body>
</html>