{% extends 'base.html' %}

{% block title %} Anmeldung - Universitäts-Auditorium {% endblock %}
{% block content %}
  <h1>Eintragen</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control") }}
    </div>
    <div class="form-check">
      {{ form.need_to_remember(class="form-check-input") }}
      {{ form.need_to_remember.label(class="form-check-label") }}
    </div>
    {% if message %}
      <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Sign In</button>
  </form>
  <p>New user? <a href="{{ url_for('auth.register') }}">Register here.</a></p>
{% endblock %}